$color-pink: #C278CE;
$color-purple: #6C3ECF;
$color-orange: #F07F23;
$color-light: #FDE5C0;
$color-grey: #AEC1CC;
$color-grey-deep: #404C62;
$color-grey-light: #CED8DF;

$primary-color: $color-light;
$primary-accent-color: $color-orange;
$secondary-color: $color-purple;
$secondary-accent-color: $color-pink;
$font-family: 'Arial', sans-serif;

$breakpoints: (
  small: 600px,
  medium: 1024px,
  large: 1440px
);